body {
	background-color: #f7f7f7;
	line-height: 1.6em;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

body, p, code {
	font-family: 'Goudy', sans-serif;
}

hr {
	margin: 2em auto;
	width: 100%;
}

header {
	background-color: #ccc;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	padding: 1em;
}

footer {
	font-size: 0.8em;
	padding: 1em;
	text-align: right;
}

ul {
	margin: 0;
	padding: 0 1em;
}

*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

pre {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.block {
	border-top: 4px solid #0099cc;
}